/**index.wxss**/
.my-order{
	position: relative;
	min-height: 100%;
	padding-top: 80rpx;
	box-sizing: border-box;
	background-color: #F3F3F3;
}
page{
	height: 100%;
	box-sizing: border-box;
}
.order-type{
	display: flex;
	background-color: #fff;
	height:80rpx;
	line-height:80rpx;
	border-top:1px solid #F6F6F6;
	border-bottom:1px solid #F6F6F6;
	justify-content:space-around;
	text-align: center;
	position: fixed;
	top: 0;
	width:100%;
	z-index: 3;
	box-sizing: border-box;
}
.active-type{
	display: inline-block;
	position: absolute;
	width: 20%;
	bottom:0;
	height: 4rpx;
	text-align: center;
	transition:all .3s;

}
.active-type>.line{
	width: 40rpx;
	height: 4rpx;
	position: absolute;
	border-radius: 8rpx;
	display: inline-block;
	background-color: #333;
	transform: translateX(-50%);
}
.tab{
	flex:1;
	color:#333333;
	font-size: 30rpx;
}
.content-list{
	background-color: #F3F3F3;
	box-sizing: border-box;
}
.content-none{
	text-align: center;
	background-color: #fff;

}
.order-detail{
	display: block;
	background: #FFF;
	position: relative;
	margin-bottom:20rpx;
	height: 252rpx;
}
.order-unpay-detail{
	display: block;
	background: #FFF;
	box-sizing: border-box;
	position: relative;
	margin-bottom:20rpx;
	height:330rpx;
}
.box{
	height:172rpx;
	display: block;
	padding:40rpx 36rpx;

	
}
.button-box{
	color:#666666;
	font-size: 32rpx;
	height: 64rpx;
	line-height: 64rpx;

}
.time-section{
	float: left;
	vertical-align: bottom;
	left: 36rpx;
	margin-left: 36rpx;
}
.time-section>.time-name{
	color:#666666;
	font-size: 26rpx;
	height: 64rpx;
	line-height: 26rpx;

}
.time-section>.time-down{
	color:#333;
	font-size: 32rpx;
	height: 64rpx;
	line-height: 32rpx;
	display: inline-block;
	

}
.button-box>.button{
	float: right;
	text-align: center;
	border: 1px solid #F5A623;
	border-radius: 8px;
	width:158rpx;
	height: 64rpx;
	color:#F5A623;
	margin-right: 36rpx;
}
.time-img{
	width: 26rpx;
	height:26rpx;
	display: inline-block;
	vertical-align: middle;
	margin-right: 3rpx;
}
.unpay-box{
	height:330rpx;
	display: block;
	padding:0;
	box-sizing: border-box;
}
.unpay-box>.content-box{
	height: 232rpx;
	display: block;
	margin-bottom: 15rpx;
	border-bottom:1px solid #F3F3F3;
	padding:40rpx 36rpx 15rpx 36rpx;
	box-sizing: border-box;
}
.order-img{
	width: 232rpx;
	height:172rpx;
	border: 1px solid #DFDFDF;
	border-radius: 8px;
}
.left{
	float: left;
	margin-right:30rpx;
}
.right>.content{
	display: block;

}
.content:nth-child(1){
    font-size: 34rpx;
	color: #333333;
	line-height: 34rpx;
	padding-bottom: 20rpx;
}
.content:nth-child(2){
    font-size: 28rpx;
	padding-bottom: 10rpx;
	color: #666666;
	letter-spacing: 0;
	line-height: 32rpx;
}
.content:nth-child(3){
    font-size: 26rpx;
	color: #666666;
	letter-spacing: 0;
	padding-bottom: 24rpx;
	line-height: 26rpx;
}
.content:nth-child(4){
    font-size:34rpx;
	color: #F5615B;
	letter-spacing: 0;
	line-height: 34rpx;
}
.status{
	position: absolute;
	top: 0;
	right: 0;
	width:100rpx;
	height: 44rpx;
	line-height: 44rpx;
	color:#fff;
	display: inline-block;
	text-align: center;
	font-size: 28rpx;
	border-radius: 0 0 4rpx 4rpx; 
}
.unpay{
	background-image: linear-gradient(134deg, #FF6868 0%, #FFAC96 100%);
}
.used{
	background-image: linear-gradient(-134deg, #B1B3C9 0%, #7C7890 100%);
}
.unused{
	background-image: linear-gradient(-134deg, #A4DEB3 0%, #28CEAA 100%);
}
.closed{
	background-image: linear-gradient(-134deg, #B1B3C9 0%, #7C7890 100%);
}
.u-count-down{
  position: absolute;
  left:0;
  top:0;
  height:132rpx;
  padding:0 32rpx; 
  clear: both;
  box-sizing: border-box;
  line-height:132rpx;
}
.u-time-icon{
  float:left;
  width:26rpx;
  height:26rpx;
  margin-top:53rpx;
  margin-right:6rpx;
}
.u-count-time-txt{
  float:left;
  font-size:26rpx;
  color:#666666;
  padding-right:10rpx;
 
}
.u-count-time{
  float:left;
  font-size:32rpx;
  color:#333333;
  
}
.u-count-minute,.u-count-second{
  display: inline-block;
}
.last-view{
	text-align: center;
	margin-top: 200rpx;
}
.error-message{
	display: inline-block;
	background: rgba(0,0,0,0.80);
	border-radius: 16rpx;
	color:#fff;
	padding:0 40rpx;
	height:92rpx;
	font-size: 32rpx;
	line-height: 92rpx;
}
.none-img{
	width:292rpx;
	height: 240rpx;
	display: block;
	margin:auto;
	margin-top:280rpx;
	margin-bottom: 30rpx;
}
.warn{
	font-size: 30rpx;
	color:#666;
}




