/**index.wxss**/
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.list-outer{
  background:#abcdef;
  padding:0 32rpx;
  padding-top:28rpx;
}
.list-item{
  margin: 0 auto;
  margin-bottom:28rpx;
  width:686rpx;
  height:332rpx;
  background: #F6F6F6;
  border-radius: 16rpx;
  padding: 20rpx;
}
.list-item .top{
  display: flex;
  justify-content: space-between;
}
.list-item .top .top-left{
  width: 200rpx;
  height:150rpx;
  border-radius: 16rpx;
}
.list-item .top .top-right{
  width: 436rpx;
  height:150rpx;
  
}
.list-item .top .top-right .first-row{
  display: flex;
  justify-content: space-between;
  font-family: PingFang-SC-Medium;
  font-size: 34rpx;
  color: #333333;
}