/**meetingdetail.wxss**/
@import "../meetingTem/meetingTem.less";
page {
  background: #393f50;
}
.content-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #393f50;
}
.wrapper {
  padding-top: 20rpx;
  background: #393f50;
  position: relative;
}

.footer {
  width: 100%;
  height: 74rpx;
  line-height: 74rpx;
  padding: 30rpx 0;
  background: #fff;
  font-size: 13px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.footer text {
  display: inline-block;
  width: 166rpx;
  text-align: center;
  border-radius: 5px;
  color: #666666;
}
.footer .btns .kefu {
  border: 1px solid #333333;
  margin-right: 20rpx;
  color: #333333;
}
.footer .btns {
  float: right;
  margin-right: 32rpx;
}
.footer text.yaoqing {
  background: linear-gradient(-217deg, #ffdf00 0%, #ffeb00 100%);
  color: #624d17;
  border-radius: 5px;
  border: 1px solid transparent;
}
.clear {
  clear: both;
}
button {
  font-size: 28rpx;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  background-color: transparent;
  border-style: none;
  border-width: 0px;
}
button:after {
  border: none;
  outline: none;
}
.overdue {
  text-align: right;
}
