dist
dist/pages
dist/utils
dist/app.js
dist/app.json
dist/app.wxss
dist/project.config.json
src/app.json

npm-debug.log
npm-debug.log.*
dist/project.config.json
*.DS_STORE

*.DS_Store
node_modules
app.json
npm-debug.log

package-lock.json