.shareDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 300;
}
.shareDialog .close-button,
.successDialog .close-button {
  width: 42rpx;
  height: 90rpx;
  position: absolute;
  top: -90rpx;
  right: 40rpx;
}
.shareDialog .content-box {
  position: relative;
  width: 574rpx;
  height: 1048rpx;
  background-color: #fff;
  border-radius: 16rpx;
  margin: auto;
  margin-top: 120rpx;
  padding: 30rpx;
  box-sizing: border-box;
}
.shareDialog .text,
.successDialog .text {
  font-size: 36rpx;
  color: #333;
  font-weight: 500;
}
.shareDialog .canvas-show {
  width: 510rpx;
  height: 712rpx;
  border: 1px solid #000;
  border-radius: 16rpx;
  margin-top: 22rpx;
}
.save {
  height: 110rpx;
  width: 100%;
  margin-top: 22rpx;
}
.successDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 300;
}
.successDialog .content-box {
  height: 666rpx;
  width: 574rpx;
  border-radius: 16rpx;
  background-color: #fff;
  position: relative;
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  padding: 30rpx;
  box-sizing: border-box;
}
.default-img {
  width: 288rpx;
  height: 288rpx;
  margin-top: 30rpx;
}
.helping-details {
  width: 100%;
  height: 100%;
  background: #210f3e;
  overflow: auto;
}
.helping {
  width: 100%;
  height: 50rpx;
}
.helping-text {
  width: 130rpx;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(220, 180, 255, 0.2);
  border-radius: 0 36rpx 36rpx 0;
  font-size: 24rpx;
  color: #c788ff;
}
.helping-top {
  width: 100%;
  height: 1158rpx;
}
.helping-fixed {
  width: 100%;
  height: 110rpx;
  position: fixed;
  z-index: 200;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
}
.helping-fixed text {
  display: inline-block;
  width: 320rpx;
  line-height: 110rpx;
  text-align: center;
  background: #fff;
  font-size: 36rpx;
  color: #624d17;
}
.share-btn {
  width: 100%;
  line-height: 110rpx;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: #ffeb00;
  border-radius: 0;
  font-size: 36rpx;
  color: #624d17;
}
.share-btn:after {
  border: none;
  outline: none;
}
.helping-rule {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rule-content {
  box-sizing: border-box;
  width: 574rpx;
  height: 802rpx;
  position: relative;
  background: #9013fe;
  border-radius: 16rpx;
  padding: 40rpx;
}
.rule-top {
  width: 100%;
  height: 132rpx;
  position: absolute;
  z-index: -1;
  left: 0;
  top: -126rpx;
}
.rule-top > view:nth-child(1) {
  width: 290rpx;
  height: 92rpx;
  margin: 0 auto;
  background: #bb6dff;
  border: 1px solid #282824;
  border-radius: 16rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rule-one {
  width: 274rpx;
  height: 76rpx;
  line-height: 76rpx;
  text-align: center;
  background: #9013fe;
  border: 1px solid #282824;
  border-radius: 16rpx;
  font-size: 36rpx;
  color: #ffeb00;
}
.rule-top > view:nth-child(2) {
  width: 174rpx;
  height: 34rpx;
  margin: 0 auto;
  border-left: 6rpx solid #bb6dff;
  border-right: 6rpx solid #bb6dff;
}
.rule-scoll {
  width: 100%;
  height: 586rpx;
  overflow: auto;
  font-size: 30rpx;
  color: #f6ecff;
}
.rule-scoll .size {
  font-size: 34rpx;
  color: #ffeb00;
  font-weight: bold;
}
.rule-text {
  width: 330rpx;
  height: 110rpx;
  position: absolute;
  bottom: 22rpx;
  left: 126rpx;
}
.rule-text image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.rule-text > text {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 110rpx;
  text-align: center;
  font-size: 30rpx;
  color: #624d17;
  z-index: 2;
}
.helping-top {
  width: 100%;
  height: 1082rpx;
  position: relative;
  margin-bottom: 200rpx;
}
.helping-top > image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.helping-notice {
  width: 100%;
  height: 50rpx;
  position: absolute;
  top: 183rpx;
}
.notice-content {
  width: 614rpx;
  height: inherit;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}
.notice {
  width: 72rpx;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice > image {
  width: 36rpx;
  height: 31rpx;
}
.notice-text {
  width: 80%;
  height: 100%;
  line-height: 50rpx;
  overflow: hidden;
  font-size: 24rpx;
  color: #efdcff;
}
.random-blod {
  font-size: 26rpx;
  font-weight: bold;
}
.helping-num {
  width: 100%;
  height: 100rpx;
  padding-top: 350rpx;
  display: flex;
  justify-content: center;
}
.box-cantainer > .num-1 {
  width: 88rpx;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  font-size: 80rpx;
  color: #ffeb00;
}
.helping-extract {
  width: 100%;
  height: 370rpx;
  position: absolute;
  top: 614rpx;
}
.helping-extract image {
  width: 100%;
  height: 100%;
}
.extract-top,
.extract-bottom {
  width: 100%;
  height: 50%;
  margin-bottom: 16rpx;
  display: flex;
  justify-content: center;
}
.extract-one,
.extract-two,
.extract-three,
.extract-four,
.extract-five {
  width: 164rpx;
  height: 188rpx;
  margin: 0 8rpx;
  position: relative;
}
.can-extract-btn {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0);
  border: none;
}
.can-extract-btn:after {
  border: none;
}
.helping-record {
  width: 670rpx;
  border: 2px solid #c88aff;
  border-radius: 16rpx;
  margin: 0 auto;
  margin-bottom: 170rpx;
  position: relative;
}
.record-fixed {
  width: 370rpx;
  height: 124rpx;
  position: absolute;
  top: -128rpx;
  left: 50%;
  margin-left: -185rpx;
}
.record-fixed > view:nth-child(1) {
  width: 100%;
  height: 92rpx;
  background: #bb6dff;
  border: 1px solid #282824;
  border-radius: 16rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.record-text {
  width: 354rpx;
  height: 76rpx;
  line-height: 76rpx;
  text-align: center;
  background: #9013fe;
  border: 1px solid #282824;
  border-radius: 16rpx;
  font-size: 36rpx;
  color: #ffeb00;
}
.record-fixed > view:nth-child(2) {
  width: 214rpx;
  height: 32rpx;
  margin: 0 auto;
  border-left: 2px solid #bb6dff;
  border-right: 2px solid #bb6dff;
}
.record-content {
  width: 100%;
  height: auto;
}
.record-top-tab {
  width: 100%;
  height: 68rpx;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 40rpx;
  margin-top: 24rpx;
}
.tab {
  width: 128rpx;
  height: 100%;
  font-size: 32rpx;
  color: #c88aff;
  line-height: 68rpx;
  text-align: center;
}
.tabBorer {
  color: #f0dfff;
  border-bottom: 2px solid #f0dfff;
}
.record-none-img {
  width: 219rpx;
  height: 180rpx;
  margin: 0 auto;
  margin-top: 60rpx;
  margin-bottom: 46rpx;
}
.record-none-img > image {
  width: 100%;
  height: 100%;
}
.record-none-text {
  width: 100%;
  height: 46rpx;
  font-size: 28rpx;
  color: #8259b1;
  margin-bottom: 100rpx;
}
.record-none-text > text {
  display: block;
  width: 100%;
  height: inherit;
  text-align: center;
  line-height: 46rpx;
}
.record-list {
  width: 100%;
  height: auto;
}
.record-list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 34rpx 0;
}
.record-list-title > text {
  display: inline-block;
  height: 76rpx;
  line-height: 76rpx;
  padding: 0 40rpx;
  background: #3f1d65;
  border-radius: 200rpx;
  font-size: 32rpx;
  color: #ffeb00;
}
.record-value {
  font-size: 44rpx;
  font-weight: bold;
  margin: 0 10rpx;
}
.share-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.share-bg-top {
  width: 100%;
  height: 70%;
  background: rgba(0, 0, 0, 0.7);
}
.share-bg-bottom {
  width: 100%;
  height: 30%;
  background: #fff;
}
.share-bg-title {
  display: block;
  width: 100%;
  line-height: 44rpx;
  text-align: center;
  font-size: 36rpx;
  padding: 40rpx 0;
  color: #333333;
}
.share-bg-btn {
  width: 100%;
  height: 100%;
  display: flex;
}
.left,
.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32rpx;
  color: #666666;
}
.wxfriend {
  width: 120rpx;
  height: 120rpx;
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  margin-bottom: 20rpx;
}
.wxfriend:after {
  border: none;
}
.wxfriend > image {
  width: 100%;
  height: 100%;
}
.record-list-content {
  padding: 0 30rpx;
  margin-bottom: 30rpx;
}
.record-list-friend {
  width: 100%;
  height: 72rpx;
  display: flex;
  margin-bottom: 46rpx;
}
.friend-list-left {
  width: 75%;
  height: 100%;
  display: flex;
}
.friend-list-right {
  width: 25%;
  height: inherit;
  font-size: 24rpx;
  color: #da205f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.friend-list-avatar {
  width: 72rpx;
  height: 72rpx;
  border-radius: 50%;
  border: 1px solid #bb9fdd;
  margin-right: 16rpx;
}
.friend-list-avatar image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.friend-list-name {
  width: 260rpx;
  height: 100%;
  font-size: 30rpx;
  color: #c392cb;
}
.friend-list-thirdNick {
  width: 100%;
  height: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.friend-list-text {
  font-size: 24rpx;
  color: #796690;
}
.friend-list-new {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.friend-list-value {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list-value-img {
  width: 28rpx;
  height: 28rpx;
  margin-right: 12rpx;
}
.list-value-img image {
  width: 100%;
  height: 100%;
}
.list-value-count {
  font-size: 26rpx;
  color: #da205f;
  font-weight: bold;
}
.friend-list-more {
  width: 100%;
  height: 40rpx;
  font-size: 30rpx;
  color: #c392cb;
  text-align: center;
  margin-bottom: 40rpx;
}
.helping-list-content {
  width: 100%;
  height: 60rpx;
  display: flex;
  margin-bottom: 40rpx;
}
.helping-list-left {
  width: 70%;
  height: 100%;
  display: flex;
  font-size: 24rpx;
  color: #796690;
}
.helping-list-left text {
  display: inline-flex;
  align-items: center;
}
.helping-list-right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helping-list-img {
  width: 52rpx;
  height: 52rpx;
  border-radius: 50%;
  margin: 0 10rpx;
  border: 1px solid #bb9fdd;
}
.helping-list-img image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.list-right-img {
  width: 28rpx;
  height: 28rpx;
  margin-top: -14rpx;
  margin-right: 12rpx;
}
.list-right-img > image {
  width: 100%;
  height: 100%;
}
.zhuli {
  width: 50rpx;
  height: 100%;
  line-height: 52rpx;
  text-align: center;
}
.third-nick {
  display: block;
  max-width: 194rpx;
  height: 100%;
  line-height: 52rpx;
  font-size: 30rpx;
  color: #c392cb;
  margin-right: 10rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.helping-value-count {
  width: 100rpx;
  height: 100%;
  font-size: 26rpx;
  font-weight: bold;
  color: #da205f;
  display: flex;
  align-items: center;
}
.extract-list {
  border-left: 1px solid #c392cb;
  padding-left: 24rpx;
  padding-bottom: 48rpx;
  position: relative;
  height: 80rpx;
}
.extract-list-top {
  font-size: 30rpx;
  color: #c392cb;
  position: absolute;
  top: -12rpx;
}
.extract-list-time {
  position: absolute;
  top: 42rpx;
  font-size: 24rpx;
  color: #796690;
}
.point {
  width: 12rpx;
  height: 12rpx;
  background: #210f3e;
  border-radius: 50%;
  border: 1px solid #c392cb;
  position: absolute;
  left: -7rpx;
  top: 0;
}
.extract-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.extract-content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
.extract-count {
  width: 100%;
  height: 74rpx;
  line-height: 74rpx;
  color: #624d17;
  text-align: center;
  font-size: 28rpx;
  font-weight: bold;
  letter-spacing: 0;
  margin-left: -4rpx;
}
.extract-count > text {
  font-size: 40rpx;
  margin-left: -4rpx;
}
.extract-desc {
  width: 100%;
  height: 30rpx;
  line-height: 30rpx;
  text-align: center;
  font-size: 24rpx;
  color: #624d17;
}
.extract-btn {
  width: 100%;
  height: 30rpx;
  line-height: 30rpx;
  text-align: center;
  font-size: 28rpx;
  font-weight: bold;
  color: #ffe290;
  margin-top: 40rpx;
}

.other {
  border: 1px solid #000;
  height: 400rpx;
  width: 600rpx;
}
.box-cantainer {
  position: relative;
  width: 290rpx;
  height: 100rpx;
  overflow: hidden;
}
.box-list .num-img {
  top: 0;
  width: 90rpx;
  height: 100rpx;
  display: block;
  box-sizing: border-box;
}
.num-img {
  width: 90rpx;
  height: 100rpx;
  display: block;
  box-sizing: border-box;
}
.box-lists {
  width: 90rpx;
  height: 100rpx;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.one,
.two {
  transition: all;
  height: 1000rpx;
}
.plus {
  color: #cccccc;
}
.get-animation {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation-content {
  width: 420rpx;
  height: 410rpx;
  border-radius: 16rpx;
  position: relative;
}
.animation-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.animation-rocket {
  width: 80%;
  height: 80%;
  position: absolute;
  right: 9%;
  top: 6%;
  z-index: 10;
}
.animation-money {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.animation-text {
  width: 100%;
  height: 50rpx;
  position: absolute;
  bottom: 4%;
  left: 0;
  z-index: 1000;
  line-height: 50rpx;
  text-align: center;
  font-size: 30rpx;
  color: #e1c9f7;
}
.animation-coupon {
  width: 206rpx;
  height: 236rpx;
  position: absolute;
  top: 54rpx;
  left: 50%;
  margin-left: -103rpx;
  z-index: 10;
}
.animation-coupon-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.animation-coupon-text {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.animation-coupon-top {
  width: 100%;
  height: 84rpx;
  line-height: 84rpx;
  text-align: center;
  font-size: 32rpx;
  color: #624d17;
  font-weight: bold;
}
.animation-coupon-top text {
  font-size: 50rpx;
}
.animation-coupon-tpye {
  width: 100%;
  height: 44rpx;
  line-height: 44rpx;
  text-align: center;
  font-size: 30rpx;
  color: #624d17;
}
.animation-coupon-fix {
  width: 100%;
  height: 80rpx;
  text-align: center;
  line-height: 80rpx;
  font-size: 36rpx;
  color: #ffe291;
  margin-top: 30rpx;
  font-weight: bold;
}
.animation-bottom {
  width: 100%;
  height: 110rpx;
  line-height: 110rpx;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  color: #e1c9f7;
  font-size: 30rpx;
}
.container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 8000;
  display: flex;
  flex-direction: column;
  background: #210f3e;
}
.header {
  margin-top: 86.8rpx;
}
.content {
  margin-top: 80.4rpx;
  color: #ffffff;
}
.default-img {
  height: 297rpx;
  width: 326.8rpx;
}
.go-back {
  position: relative;
  margin-top: 40rpx;
  margin-bottom: 518rpx;
  height: 668rpx;
}
.go-back-content {
  position: absolute;
  left: 72rpx;
  top: 32rpx;
  color: #624d17;
  font-size: 30rpx;
}
.go-back-button {
  line-height: 80rpx;
  width: 390rpx;
  height: 110rpx;
  border-radius: 32rpx;
}
.masking-out {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;
}
.masking-img {
  display: block;
  width: 502rpx;
  height: 435rpx;
  position: absolute;
  bottom: 280rpx;
  left: 50%;
  margin-left: -251rpx;
}
.move-zero {
  animation: moveZero 1s forwards linear;
}
.move-one {
  animation: moveOne 1.1s forwards linear;
}
.move-two {
  animation: moveTwo 1.2s forwards linear;
}
.move-three {
  animation: moveThree 1.3s forwards linear;
}
.move-four {
  animation: moveFour 1.4s forwards linear;
}
.move-five {
  animation: moveFive 1.5s forwards linear;
}
.move-six {
  animation: moveSix 1.6s forwards linear;
}
.move-seven {
  animation: moveSeven 1.7s forwards linear;
}
.move-eight {
  animation: moveEight 1.8s forwards linear;
}
.move-nine {
  animation: moveNine 1.9s forwards linear;
}
@keyframes moveOne {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}
@keyframes moveZero {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes moveTwo {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}
@keyframes moveThree {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30%);
  }
}
@keyframes moveFour {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40%);
  }
}
@keyframes moveFive {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveSix {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60%);
  }
}
@keyframes moveSeven {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70%);
  }
}
@keyframes moveEight {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80%);
  }
}
@keyframes moveNine {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-90%);
  }
}
