.shareDialog{
	position: fixed;
	top:0;
	left: 0;
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,.8);
	text-align:center;
}
.shareDialog .close-button,
.successDialog .close-button{
	width: 42rpx;
	height:90rpx;
	position: absolute;
	top:-90rpx;
	right: 40rpx;

}
.shareDialog .content-box{
	position: relative;
	width:574rpx;
	height:1048rpx;
	background-color: #fff;
	border-radius: 16rpx;
	margin:auto;
	margin-top: 120rpx;
	padding:30rpx;
	box-sizing: border-box;
}
.shareDialog .text,
.successDialog .text{
	font-size:36rpx;
	color:#333;
	font-weight:500;
}
.shareDialog .canvas-show{
	width:510rpx;
	height:712rpx;
	border:1px solid #000;
	border-radius:16rpx;
	margin-top:22rpx;
}
.save{
	height:110rpx;
	width:100%;
	margin-top:22rpx;
}
.successDialog{
	position: fixed;
	top:0;
	left: 0;
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,.8);
	text-align:center;

}
.successDialog .content-box{
	height:666rpx;
	width:574rpx;
	border-radius: 16rpx;
	background-color: #fff;
	position: relative;
	margin:auto;
	margin-top:50vh;
	transform:translateY(-50%);
	padding:30rpx;
	box-sizing: border-box;
}
.default-img{
	width:288rpx;
	height:288rpx;
	margin-top:30rpx;
}