page{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.g-order-confirmation{
    width:100%;
    height:100%;
    background: #F6F6F6;
}
.m-order-header{
    background:#fff;
    margin-bottom:20rpx;
}
.u-order-detail{
    position: relative;
    height:252rpx;
    padding:40rpx 36rpx;
    box-sizing:border-box;
}
.u-order-left{
    float:left;
    width:232rpx;
    height:172rpx;
    border-radius:16rpx; 
    border: 1px solid #DFDFDF;
    overflow: hidden;
    
}
.meet-theme{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.u-order-img{
    width:100%;
    height:100%;
}

.u-order-right{
    font-size: 26rpx;
    color: #666666;
    float:right; 
    width:440rpx;
    padding-left:24rpx;
    box-sizing: border-box;
    position: relative;
}
.u-meet-title{
    width:380rpx;
    font-size: 40rpx;
    color: #333333;
    white-space: nowrap;  
    font-weight: 600;
    display: block;
    margin-bottom:4rpx;
}
.u-meet-address{
    width:380rpx;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space: nowrap; 
    display: block; 
    margin-bottom:4rpx;
}
.u-meet-price-info{
    font-size: 26rpx;
    margin-top:40rpx;
}
.u-meet-price{
    color: #151515; 
    display: inline; 
}
.u-cancal-price{
    text-decoration:line-through;
}
.u-meet-num{
    font-size: 34rpx;
    color:#333333;
    font-weight: 600;

}
.u-meet-uint-info{
    display: inline; 
    color:#999999;
    font-weight: 400;
}

.u-order-time{
    width:680rpx;
    border-top:1px solid #F6F6F6;
    margin:0 auto;
    height:192rpx;
    display: flex;
    position: relative;
}
.u-user-date,.u-user-hour{
    width: 50%;
    position: relative;
}
.u-line{
   height:80rpx;
   width:1px;
   background: rgba(0,0,0,0.10);
   position: absolute;
   left:50%;
   top:50rpx;
}
.u-meeting-info{
    height:250rpx;
    margin-bottom:20rpx;
    background: #fff;
    padding:0 36rpx;
    box-sizing: border-box;
}
.u-meeting-phone{
    height:114rpx;
    background: #fff;
    padding:0 36rpx;
    box-sizing: border-box;
    position: relative;
    margin-bottom:20rpx;
}
.u-btn-arrow{
    width: 14rpx;
    height:26rpx;
    position: absolute;
}
.u-head-arrow{
    right:0;
    top:64rpx;
}
.u-btn-arrow-right{
    width:100%;
    height:100%;
    vertical-align:15rpx;
}
.u-meeting-theme{
   width:100%;
   height:124rpx;
   font-size: 32rpx;
   color: #333333;
   border-bottom:1px solid #F6F6F6;
   position: relative;
}
.u-meeting-remind{
    width:100%;
    height:124rpx;
    font-size: 32rpx;
    color: #333333; 
    position: relative;
}

.u-meeting-title{
    line-height:124rpx;
    font-size: 32rpx;
    color: #333333;
    width:160rpx;
    float:left;
}
.u-meeting-btn-arrow{
    right:0;
    top:50rpx;
}
.u-phone-btn-arrow{
    right:36rpx;
    top:44rpx;
}
.u-meet-text{
   width: 400rpx;
   height:124rpx;
   line-height:124rpx;
   font-size: 32rpx;
   color: #666666;
   padding-right:30rpx;
   text-align: right;
   float: right;
}
.u-protocol{
    height:200rpx;
    box-sizing: border-box;
    padding-top:24rpx;

}
.u-footer{
  height:112rpx;
  background: #fff;  
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
}
.u-footer-left{
    width:430rpx;
    height:100%;
    float:left;
}
.u-footer-right{
    width:320rpx;
    height:112rpx;
    line-height:112rpx;
    text-align: center;
    float:right;
    background: #D8D8D8;
    font-size: 36rpx;
    color: #FFFFFF;
}
.u-active-btn{
    background-image: linear-gradient(50deg, #F79C1C 0%, #FFD24C 89%);
}
.u-first-pay-price{
    width:100%;
    height:54rpx;
    margin-bottom:12rpx;
    padding-left:36rpx;
    box-sizing: border-box;
}
.u-footer-tip{
    font-size: 24rpx;
    color: #FF6868; 
    text-indent:22rpx; 
}
.u-price-label{
    font-size: 28rpx;
    color:#666666;
    float:left;
    margin-top:24rpx;
}
.u-price-unit{
    font-size: 28rpx;
    color:#FF6868;
    float:left;
    margin-top:22rpx;
    padding-right:6rpx;
    
}
.u-price-num{
    font-size: 48rpx;
    color:#FF6868;
    float:left;
    margin-top:4rpx;
    height:42rpx;
    font-weight: 600;
   
}
.u-old-price{
    font-size: 24rpx;
    color:#999999;
    text-decoration:line-through;
    float:left;
    padding-left:16rpx;
    margin-top:27rpx;
}
.u-protocol-content{
    height:30rpx;
    line-height:30rpx;
    width:100%;
    box-sizing: border-box;
    padding:0 120rpx;

}
.u-protocol-image{
    float:left;
    width:30rpx;
    height: 30rpx;
}
.u-protocol-text{
    float:left;
    font-size:26rpx;
    color:#666666;
    text-indent:10rpx;
}
.u-meet-protocol{
    float:left;
    font-size:26rpx;
    color:#4A90E2;
}
.u-protocol-checkbox{
    width:100%;
    height:100%;
}
.u-time-title{
    font-size: 28rpx;
    color: #999; 
    text-align: center;
    margin-top:22rpx;
    margin-bottom:10rpx;
}
.u-time-data{
    height:50rpx;
    font-size: 18px;
    color: #333333;
    text-align: center;
    position: relative;
}
.u-time-txt{
    font-size: 24rpx;
    color: #151515;
    text-align: center; 
}
.u-yellow-line{
    width:200rpx;
    height:8rpx;
    background:#FFE461;
    position: absolute;
    left:50%;
    margin-left:-100rpx;
    top:30rpx;
    z-index:20;
}
.u-date-txt{
    width:100%;
    position: absolute;
    text-align: center;
    left:0;
    top:0;
    z-index:100;
}
.u-dialog{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
}
.u-dialog-content{
    width:560rpx;
    height:480rpx;
    background: #fff;
    border-radius: 16rpx;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-280rpx;
    margin-top:-240rpx; 
}
.u-dialog-title{
    font-size: 40rpx;
    color: #000000;
    text-align: center;
    height:108rpx;
    line-height:108rpx;
}
.u-dialog-container{
    padding:0 48rpx;
    box-sizing: border-box;
    height: 272rpx;
    border-bottom:1px solid #E5E5E5;
}
.u-dialog-p{
    padding-left:24rpx;
    box-sizing: border-box;
    font-size: 30rpx;
    color: #888888;
    line-height: 48rpx;
    margin-bottom:30rpx;
    position: relative;
    font-weight: 400;
}
.u-dialog-style{
    position: absolute;
    width:8rpx;
    height:8rpx;
    border-radius: 100% 100%;
    background: #666666;
    left:0;
    top:18rpx;
}
.u-dialog-footer{
    height:100rpx;

}
.u-dialog-btn{
    text-align: center;
    line-height:100rpx;
    float:left;
    font-size: 34rpx;
    width:50%;
}

.u-dialog-cancal{
    color: #000000;
    border-right:1px solid #E5E5E5;
    box-sizing: border-box;
    
}
.u-dialog-yes{
    color: #F5A623;
}
.u-message{
    width:280rpx;
    height:240rpx;
    background: rgba(0,0,0,0.80);
    border-radius: 16rpx;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate3d(-50%,-50%,0);
}
.u-message-img{
    width:100rpx;
    height:100rpx;
    display: block;
    margin:34rpx auto 30rpx;
}
.u-message-txt{
    font-size: 30rpx;
    color: #EDEDED;
    text-align: center;
}

.u-dialog-time{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height: 934rpx;
    background: #fff;
}

.u-dialog-time .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 178rpx;
}

.u-dialog-time .top .now-date{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.u-dialog-time .top .pre-date.banned,.u-dialog-time .top .next-date.banned{
    color: #CCCCCC;
}

.u-dialog-time .top .pre-date.banned .pre-icon{
    transform: none;
    width:30rpx;
    height:30rpx;
    margin-right:14rpx;
}

.u-dialog-time .top .pre-date .pre-icon{
    transform: rotate(180deg);
    width:30rpx;
    height:30rpx;
    margin-right:14rpx;
}

.u-dialog-time .top .next-date .next-icon{
    width:30rpx;
    height:30rpx;
    margin-left:14rpx;
}

.u-dialog-time .top .next-date.banned .next-icon{
    transform: rotate(180deg);
    width:30rpx;
    height:30rpx;
    margin-right:14rpx;
}


.u-dialog-time .top .pre-date,.u-dialog-time .top .next-date{
    font-family: PingFang-SC-Medium;
    font-size: 28rpx;
    color: #666666;
    display:flex;
    align-items: center;
}

.u-dialog-time .top .first-row{
    font-size: 26rpx;
    color: #999999;
}

.u-dialog-time .top .second-row{
    font-family: PingFang-SC-Medium;
    font-size: 36rpx;
    color: #333333;
}

.u-dialog-time .top .third-row{
    font-size: 28rpx;
    color: #333333;
}

.u-dialog-time .main{
    background: #F3F3F3;
    height: 584rpx;
    display: flex;
    flex-direction: column;
    padding: 0 32rpx;
    justify-content: space-around;
}

.u-dialog-time .main .row{
    display: flex;
    flex-direction: column;
}

.u-dialog-time .main .row .time{
    display: flex;

}

.u-dialog-time .main .row .time .item{
    width: 168rpx;
    text-align:left;
    height:40rpx;
    line-height: 40rpx;
    font-size: 24rpx;
    color: rgba(102,102,102,0.80);
    padding-left:4rpx;
}
.u-dialog-time .main .row .square{
    display: flex;
    flex-direction: row;
}

.u-dialog-time .main .row .square .item{
    width: 84rpx;
    height: 92rpx;
    border-radius: 8rpx;
    margin-right: 2rpx;
}

.u-dialog-time .main .row .square .item:nth-of-type(even){
    margin-right: 4rpx;
}

.u-dialog-time .main .row .square .item:last-child{
    margin-right: 0;
}

.u-dialog-time .main .row .square .item.check{
    background: #fff;
}



.u-dialog-time .main .row .square .item.uncheck{
    background: #EDEDED;
}

.u-dialog-time .main .row .square .item.checked{
    background: #FAC367;
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-dialog-time .main .row .square .item .actived-icon{
    width: 42rpx;
    height: 28rpx;
}

.u-dialog-time .tag{
    text-align: center;
    height: 60rpx;
    display: flex;
    justify-content: center;
    background: #F3F3F3;
}

.u-dialog-time .show-time{
    text-align: center;
    line-height: 60rpx;
    height:60rpx;
    color:#666;
    font-size: 28rpx;
}

.u-dialog-time .tag view{
    width: 80rpx;
    height: 40rpx;
    border-radius: 8rpx;
    margin-right: 30rpx;
    font-size: 20rpx;
    line-height: 42rpx;
}

.u-dialog-time .tag .check{
    background: #fff;
    color: #666666;
}

.u-dialog-time .tag .uncheck{
    background: #EDEDED;
    border: 1px solid #E5E5E5;
    color: #666666;
}

.u-dialog-time .tag .checked{
    background: #FAC367;
    margin-right: 0;
    color: #724500;
}

.u-dialog-time .unsure{
    text-align: center;
    height: 112rpx;
    line-height: 112rpx;
    font-size: 36rpx;
    color: #FFFFFF;
    background: #D8D8D8;
}

.u-dialog-time .sured{
    text-align: center;
    height: 112rpx;
    line-height: 112rpx;
    font-size: 36rpx;
    color: #FFFFFF;
    background-image: linear-gradient(50deg, #F79C1C 0%, #FFD24C 89%);
}
.u-no-time{
    font-size:30rpx;
    color: #FF6868;
    text-align: center;
}
.u-btn-arrow-bottom{
    width:22rpx;
    height:12rpx;
    position: absolute;
}
.u-time-arrow{
    right:35rpx ;
    top:93rpx;
}
.u-hour-arrow{
    right:35rpx ;
    top:93rpx;
}

.u-pay-price{
    width:100%;
    height:54rpx;
    margin-bottom:12rpx;
    padding-left:36rpx;
    box-sizing: border-box;
}

.u-no-first-price-label{
    font-size: 32rpx;
    color:#666666;
    float:left;
    line-height: 112rpx;
}
.u-no-first-price-unit{
    font-size: 28rpx;
    color:#FF6868;
    float:left;
    line-height: 112rpx;
    padding-right:6rpx;
    
}
.u-no-first-price-num{
    font-size: 48rpx;
    color:#FF6868;
    float:left;
    line-height: 100rpx;
    font-weight: 600;
   
}
.u-old-no-first-price{
    font-size: 24rpx;
    color:#999999;
    text-decoration:line-through;
    float:left;
    padding-left:16rpx;
    line-height: 112rpx;
}



.u-meet-detail{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.80);
    position: fixed;
    top:0;
    left:0;
    z-index:200;
  }
  .u-meet-detail-content{
    width:100%;
    height:100%;
    overflow: auto;
  }
  .u-meet-detail-close{
    width:48rpx;
    height:48rpx;
    position: absolute;
    right:20rpx;
    top:20rpx;
    z-index:100;
  }
  
  .u-meet-content{
    width:100%;
    height:100%;
    position: absolute;
    bottom:0;
  }
  .u-meet-top{
    width:100%;
    height:402rpx;
    background:transparent;
  }
  .scroll-box{
    height: 100%;
    overflow-y: auto;
    background: transparent;
   
  }
  .u-content-meet{
    display: inline-block;
    width:100%;
    background: #fff;
    position: relative;
  
  }
  

  .u-swiper-content{
    position: relative;
    height:420rpx;
  }
  .u-meet-img-only{
    width:100%;
    height:100%;
  }
  .u-meet-swiper{
    width:100%;
    height:420rpx;
    background-color: #F3F3F3;
  }
  
  .u-swiper-img{
    width:100%;
    height:420rpx;
    object-fit: cover;
  }
  .u-img-num{
    height:34rpx;
    line-height:34rpx;
    padding:0 18rpx;
    font-size: 26px;
    color: #FFFFFF; 
    background: rgba(35,36,40,0.60);
    border-radius: 36px;
    position: absolute;
    font-size: 26rpx;
    right:32rpx;
    bottom:32rpx;
  }
  
  .u-meeting-detail-info{
    min-height:342rpx;
    padding:0 32rpx;
    box-sizing: border-box;
  }
  .u-meet-info{
    height:200rpx;
    border-bottom:1px solid #F6F6F6;
    position: relative;
    padding-top:40rpx;
    box-sizing:border-box;
  }
  .u-meet-name{
    height:52rox;
    font-size: 44rpx;
    color: #333333;
    margin:0 0 10rpx;
    font-weight: 600;

  }
  .u-meet-unit{
    display: inline-block;
    font-size: 28rpx;
    color:#FF6868;
    padding-right:8rpx;
    font-weight: 600;
  }
  .u-meet-detail-num{
    display: inline-block;
    font-size: 44rpx;
    color:#FF6868;
    padding-right:12rpx;
    font-weight: 600;
  }
  .u-meet-old-num{
    display: inline-block;
    font-size: 26rpx;
    color:#999999;
    text-decoration:line-through;
  }
  .u-meet-old-unit{
    display: inline-block;
    font-size: 24rpx;
    color:#999999;
   
  }
  
  
  .u-meet-sale{
    border-radius: 8rpx;
    background: #FFEEEE;
    height:48rpx;
    line-height:48rpx;
    padding:0 12rpx;
    color:#FF6868;
    position: absolute;
    right:0;
    bottom:40rpx;
    font-size:26rpx;
  }
  .u-meet-detail-address{
    min-height:140rpx;
  }
  
  .u-address{
    min-height:40rpx;
  }
  
  .u-address-icon{
    width:26rpx;
    height:28rpx;
    display:inline-block;
    margin-right:12rpx;
    vertical-align: -4rpx;
  }
  .u-address-txt{
    font-size: 28rpx;
    line-height: 28rpx;
    color: #666666;
    display:inline-block;
  }
  
  .u-meet-facility{
    min-height:200rpx;
    display: inline-block;
    border-top:1px solid #F6F6F6;
    box-sizing: border-box;
    padding:40rpx 50rpx; 
    padding-bottom: 0;
    width:100%;
  }
  .u-icon-list{
    width:130rpx;
    height:160rpx;
    display: inline-block;
    text-align: center;
    
  }
  .u-facility-icon{
    width:60rpx;
    height:60rpx;
  }
  .u-facility-txt{
    font-size: 28rpx;
    color: #666666;
  }
  
  .u-meet-btn{
    height:112rpx;
    line-height:112rpx;
    background-image: linear-gradient(50deg, #F79C1C 0%, #FFD24C 89%);
    text-align: center;
    color:#fff;
    font-size: 36rpx;
  }



  

.last-view{
    text-align: center;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate3d(-50%,-50%,0);
    display: inline-block;
    white-space: nowrap;  
    z-index:120;
}
.error-message{
	display: inline-block;
	background: rgba(0,0,0,0.80);
	border-radius: 16rpx;
	color:#fff;
	padding:0 40rpx;
	height:92rpx;
	font-size: 32rpx;
    line-height: 92rpx;
    white-space: nowrap;  
}




.select-data{
    text-align: center;
    color: #333333;
    font-size: 32rpx;
    padding: 28rpx 0;
  }
  .date .week{
    padding-bottom: 20rpx;
    border-bottom:1rpx solid #F3F3F3 ; 
  }
  .date .week .week-day{
    display: inline-block;
    width: 70rpx;
    margin: 0 17.57rpx;
    text-align: center;
    font-family: PingFang-SC-Regular;
    font-size: 28rpx;
    color: #666666;
  }
  .date .now-date{
    font-family: PingFang-SC-Light;
    font-size: 40rpx;
    color: #333333;
    padding:50rpx 40rpx 0;
  }
  .before{
      font-family: PingFang-SC-Regular;
    font-size: 26rpx;
    color: #CCCCCC;
    line-height: 48rpx;
  }
  .next{
    font-family: PingFang-SC-Medium;
    font-size: 26rpx;
    color: #222222;
  }
  
  .now{
      font-family: PingFangSC-Medium;
    font-size: 26rpx;
    color: #F5A623;
  }
  .active{
    background-image: linear-gradient(57deg, #F79C1C 0%, #FAD961 100%); 
    border-radius: 50%;
    color:#fff;
  }
  .day{
    display: inline-block;
    width: 70rpx;
    height:70rpx;
    margin:0 17.57rpx;
    line-height:70rpx;
    text-align: center;
    vertical-align: top;
  }
  .wrapper{
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.8);
    position: relative;
  }
  .date{
    width: 100%;
    height: 1064rpx;
    background: #fff;
    position: absolute;
    bottom: 0;
  }
  .last-view{
    text-align: center;
    }
    .error-message{
        display: inline-block;
        background: rgba(0,0,0,0.80);
        border-radius: 16rpx;
        color:#fff;
        padding:0 40rpx;
        height:92rpx;
        font-size: 32rpx;
        line-height: 92rpx;
    }


  