page{
    width:100%;
    height:100%;

}
.g-order-confirmation{
    width:100%;
    height:100%;
    background: #F6F6F6;
}
.m-order-header{
    background:#fff;
    margin-bottom:20rpx;
}
.u-order-detail{
    position: relative;
    height:252rpx;
    padding:40rpx 36rpx;
    box-sizing:border-box;
}
.u-order-left{
    float:left;
    width:232rpx;
    height:172rpx;
    border-radius:16rpx; 
    border: 1px solid #DFDFDF;
    overflow: hidden;
    
}
.u-order-img{
    width:100%;
    height:100%;
}

.u-order-right{
    font-size: 26rpx;
    color: #666666;
    float:right; 
    width:440rpx;
    padding-left:24rpx;
    box-sizing: border-box;
    position: relative;
}
.u-meet-title{
    width:380rpx;
    font-size: 40rpx;
    color: #333333;
    white-space: nowrap;  
    font-weight: 600;
    display: block;
    margin-bottom:4rpx;
}
.u-meet-address{
    width:380rpx;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space: nowrap; 
    display: block; 
    margin-bottom:4rpx;
}
.u-meet-price-info{
    font-size: 26rpx;
    margin-top:40rpx;
}
.u-meet-price{
    color: #151515; 
    display: inline; 
}
.u-cancal-price{
    text-decoration:line-through;
}
.u-meet-num{
    font-size: 34rpx;
    
}
.u-meet-uint-info{
    display: inline; 
    color:#3F3F3F;
}

.u-order-time{
    width:680rpx;
    border-top:1px solid #F6F6F6;
    margin:0 auto;
    height:192rpx;
    display: flex;
    position: relative;
}
.u-user-date,.u-user-hour{
    width: 50%;

    
}
.u-line{
   height:80rpx;
   width:1px;
   background: rgba(0,0,0,0.10);
   position: absolute;
   left:50%;
   top:50rpx;
}
.u-meeting-info{
    height:250rpx;
    margin-bottom:20rpx;
    background: #fff;
    padding:0 36rpx;
    box-sizing: border-box;
}
.u-meeting-phone{
    height:114rpx;
    background: #fff;
}
.u-btn-arrow{
    width: 14rpx;
    height:26rpx;
    position: absolute;
}
.u-head-arrow{
    right:0;
    top:64rpx;
}
.u-btn-arrow-right{
    width:100%;
    height:100%;
    vertical-align:12rpx;

}
.u-meeting-theme{
   width:100%;
   height:124rpx;
   font-size: 32rpx;
   color: #333333;
   border-bottom:1px solid rgba(0,0,0,0.10);
   position: relative;
}
.u-meeting-remind{
    width:100%;
    height:124rpx;
    font-size: 32rpx;
    color: #333333; 
    position: relative;
}
.u-meeting-phone{
    padding:0 36rpx;
    box-sizing: border-box;
    position: relative;
}
.u-meeting-title{
    line-height:124rpx;
    font-size: 32rpx;
    color: #333333;
}
.u-meeting-btn-arrow{
    right:0;
    top:50rpx;
}
.u-phone-btn-arrow{
    right:36rpx;
    top:50rpx;
}

