.other{
  border:1px solid #000;
  height:400rpx;
  width:600rpx;
}
.box-list .num-img{
  top:0;
  width:90rpx;
  height:100rpx;
  display: block;
  box-sizing: border-box;
  padding:40rpx 30rpx;
}
.box-list{
  width:80rpx;
  height:100rpx;
  display: inline-block;
  vertical-align:top;
  position: absolute;
  top:0;
}
.box-cantainer{
  position:relative;
  border:1px solid red;
  width:600rpx;
  height:134rpx;
  overflow: hidden;
}
.num-img{
  width:90rpx;
  height:134rpx;
  display: block;
  box-sizing: border-box;
  padding:20rpx;
}
.box-lists{
  width:80rpx;
  height:134rpx;
  display: inline-block;
  vertical-align:top;
  position: relative;  
}

.one,
.two {
  left: 0;
  width:60rpx;
  height:1340rpx;
  display:block;
}
.stop{

}
.one{
  background-color: #333;
  z-index:-2;

}
.two {
  background-color: red;
  z-index:-1;

}
.stoped{
  display: none;
}

.animal{
   border:5px solid black;
   transition: all 1s;
}

.one-animation{
  animation:onemove 2s infinite linear

}
.two-animation{
  animation:twomove 2s infinite linear
}
.page{
  position: relative;
  height:20rpx;
  border:1px solid red;
  margin-top: 300rpx;
}
.stop{
 height:300rpx;
 width:300rpx;
 border:1px solid red;
}

@keyframes onemove {
    0%{ 
        transform: translateY(0);
    }
    50%{
        transform: translateY(-100%);
    }
    51%{
        transform: translateY(100%);
    }
    51%{
        transform: translateY(100%);
    }
    
    100%{
      transform: translateY(0);
    }
    
    

 
 
}
@keyframes twomove {
    0%{ 
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-200%);
    }
    

 
 
}
@keyframes gogoone {
    0%{
         
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }

 
 
}

.move-zero{
  animation:moveZero .2s forwards linear
}
.move-one{
  animation:moveOne .3s forwards linear
}
.move-two{
  animation:moveTwo .3s forwards linear
}
.move-three{
  animation:moveThree .3s forwards linear
}
.move-four{
  animation:moveFour .3s forwards linear
}
.move-five{
  animation:moveFive .3s forwards linear
}
.move-six{
  animation:moveSix .3s forwards linear
}
.move-seven{
  animation:moveSeven .4s forwards linear
}
.move-eight{
  animation:moveEight .4s forwards linear
}
.move-nine{
  animation:moveNine .5s forwards linear
}
.delay{
  animation-delay:.2s
}
@keyframes moveOne {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-134rpx);
    } 
}
@keyframes moveZero {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-1340rpx);
    } 
}
@keyframes moveTwo {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-269rpx);
    } 
}
@keyframes moveThree {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-402rpx);
    } 
}
@keyframes moveFour {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-536rpx);
    } 
}
@keyframes moveFive {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-670rpx);
    } 
}
@keyframes moveSix {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-804rpx);
    } 
}
@keyframes moveSeven {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-938rpx);
    } 
}
@keyframes moveEight {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-1072rpx);
    } 
}
@keyframes moveNine {
    0%{ 
        transform: translateY(0);
    }
    100%{
      transform: translateY(-1206rpx);
    } 
}
.page view{
}