.other{
  border:1px solid #000;
  height:400rpx;
  width:600rpx;
}
.box-list .num-img{
  top:0;
  width:90rpx;
  height:100rpx;
  display: block;
  box-sizing: border-box;
  padding:40rpx 30rpx;
  
}
page{
  height:5000rpx;

}

.box-cantainer{
  margin-top: 300rpx;
  position:relative;
  border:1px solid red;
  width:600rpx;
  height:100rpx;
}
.num-img{
  width:90rpx;
  height:100rpx;
  display: block;
  box-sizing: border-box;
}
.box-lists{
  width:80rpx;
  height:100rpx;
  display: inline-block;
  vertical-align:top;
  position: relative; 
}

.one,
.two {
  width:60rpx;
  display:block;
}
.stop{

}
.two {
  background-color: red;


}
.stoped{
  display: none;
}

.animal{
   border:5px solid black;
   transition: all 1s;
}

.one-animation{
  animation:onemove 2s infinite linear

}
.two-animation{
  animation:twomove 2s infinite linear
}
.page{
  position: relative;
  height:20rpx;
  border:1px solid red;
  margin-top: 300rpx;
}
.stop{
 height:300rpx;
 width:300rpx;
 border:1px solid red;
}

@keyframes onemove {
    0%{ 
        transform: translateY(0);
    }
    50%{
        transform: translateY(-100%);
    }
    51%{
        transform: translateY(100%);
    }
    51%{
        transform: translateY(100%);
    }
    
    100%{
      transform: translateY(0);
    }
}
.twoAnimation{
  animation:moveZero 100ms forwards linear
}
@keyframes twomove {
    0%{ 
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-110%);
    } 
}
.move-zero{
  animation:moveZero 100ms forwards linear
}
.move-one{
  animation:moveOne 200ms forwards linear
}
.move-two{
  animation:moveTwo 300ms forwards linear
}
.move-three{
  animation:moveThree 400ms forwards linear
}
.move-four{
  animation:moveFour 3s forwards linear
}
.move-five{
  animation:moveFive 3s forwards linear
}
.move-six{
  animation:moveSix 3s forwards linear
}
.move-seven{
  animation:moveSeven 5s forwards linear
}
.move-eight{
  animation:moveEight 5s forwards linear
}
.move-nine{
  
  animation:moveNine 5s forwards linear

}
.delay{
  animation-delay:.2s
}
@keyframes moveOne {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}
@keyframes moveZero {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes moveTwo {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}
@keyframes moveThree {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30%);
  }
}
@keyframes moveFour {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40%);
  }
}
@keyframes moveFive {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveSix {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-60%);
  }
}
@keyframes moveSeven {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70%);
  }
}
@keyframes moveEight {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80%);
  }
}
@keyframes moveNine {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-90%);
  }
}
.page view{
}
.background-img-two{
    height:123rpx;
    width:105rpx;
    background-color: #7EBFAD;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    display: none;
  }