.my-coupon {
  padding: 0 32rpx;
}
.my-coupon-list .line {
  box-sizing: border-box;
  display: block;
  height: 12rpx;
  margin: 0 0 28rpx 0;
  padding: 0 8rpx 8rpx;
  width: 100%;
}
.list-warp {
  background: #FFEB00;
  border: 4rpx solid #333333;
  border-radius: 16rpx;
}
.list-warp.select {
  background: #F3F3F3;
  border: 4rpx solid #DFDFDF;
}
.my-coupon-list .top {
  border-bottom: 4rpx solid #333333;
  padding: 30rpx;
}