/**index.wxss**/
.idx_header{
	overflow: hidden;
	width: 100%;
	height:501rpx;
	background-image: linear-gradient(0deg, #625C82 15%, #3E3B51 100%);
	padding-left: 40rpx;
	padding-right:40rpx;
	box-sizing: border-box;
}
.idx_header:after{
	content:" ";
	width: 0;
	height: 0;
	border-left: 380rpx solid transparent;
	border-right:380rpx solid transparent;
	border-bottom: 100rpx  solid #ffffff;
	position: absolute;
	top: 401rpx;
	left: 0;
}
.title-msg{
	display: flex;
	flex-direction:row;
}
.title{
	display: flex;
	flex-direction: column;
	flex:1;
}
.E-title{
	font-size: 72rpx;
	color: #FFFFFF ;
	
}
.C-title{
	font-size: 36rpx;
	color: #FFFFFF ;
	
}
.my{
	display: flex;
	flex-direction: column;
	padding-top: 26rpx;
}
.my .my-img{
	width: 72rpx;
	height: 72rpx;
	border-radius: 50%;
	background-color: #F3F3F3;
}
.my .my-img image{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.my .my-name{
	text-align: center;
	color: #ffffff;
	font-size: 28rpx;
	text-align: center;
	margin-top: 20.6rpx;
}
.metting{
	width: 680rpx;
	height: 376rpx;
	position: relative;
	z-index: 99999;
	margin-bottom:40rpx;
}
.metting .my-metting{
	width: 680rpx;
	height: 376rpx;
	background: #fff;
	box-shadow: 0 1px 8px 0 rgba(149,149,149,0.30);
	border-radius: 8px;

}
.metting .metting-mark{
	width: 100rpx;
	height: 44rpx;;
	background-image: linear-gradient(45deg, #A4DEB3 0%, #28CEAA 100%);
	border-radius: 0 0 1px 0 1px;
	color: #ffffff;
	font-size: 24rpx;
	text-align: center;
	line-height: 44rpx;
	margin-left: 552rpx;
}
.metting .metting-title{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: PingFangSC-Medium;
	font-size: 40rpx;
	color: #333333;
	padding-top: 14rpx;
	padding-bottom: 44rpx;
	border-bottom: 1rpx dotted #DFDFDF;
	
}

.metting .metting-address{
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 30rpx;
	color: #666666;
	letter-spacing: 0;
	padding-top: 38rpx;
	padding-bottom: 40rpx;
}
.metting .metting-map{
	font-family: PingFangSC-Regular;
	font-size: 26rpx;
	color: #9399A5;
	letter-spacing: 0;
}
.metting .map-icon{
	width: 24rpx;
	height: 28rpx;
	display: inline-block;
	margin-right:16rpx; 
	vertical-align: middle;
}
.adver{
	position: relative;
	z-index: 99;
}
.adver1{
	width: 680rpx;
	height: 198rpx;
	border: 1rpx solid #F0AA57;
	border-radius: 16rpx;
}
.adver1 image,.adver2 image,.adver3 image{
	width: 100%;
	height: 100%;
}
.adver2{
	margin-top:22rpx;
	width: 680rpx;
	height: 200rpx;
	display: flex;
	flex-direction: row;
}
.adver2-1,.adver2-2{
	width: 328rpx;
	height: 200rpx;
	border: 1rpx solid #F0AA57;
	border-radius: 16rpx;
}
.adver2-1{
	margin-right: 22rpx;
}

.nearby_room{
	width:100%;
	font-family: 'PingFangSC-Medium';
}

.rm_title{
	padding: 40rpx 36rpx 0 36rpx;
	line-height: 44rpx;
	font-size: 44rpx;
	color: #000000;
}
.community{
	padding:40rpx 36rpx;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	border-bottom: 2rpx solid #F3F3F3;
}
.community_pic{
	border: 1px solid #F3F3F3;
	border-radius: 16rpx;
	width: 200rpx;
	height: 266rpx;
	
}
.community_pic image{
	width: 100%;
	height: 100%;
}
.cmty_con{
	flex-grow:1;
	margin-left: 10rpx;
}

.cmty_title{
	margin-bottom: 24rpx;
	font-size: 34rpx;
	color: #333333;
	line-height: 34rpx;
}
.location{
	margin-bottom: 32rpx;
	overflow: hidden;
}
.lct_con{
	float: left;
	font-size: 26rpx;
	color: #666666;
	line-height: 26rpx;
}
.lct_distance{
	float: right;
	display: inline-block;
	font-size: 26rpx;
	color: #666666;
	line-height: 26rpx;
}
.room_num{
	font-size: 26rpx;
	color: #2A2A2A;
	line-height: 26rpx;
	position: relative;
}
.room_num:after{
	content:" ";
	position: absolute;
	width: 37rpx;
	height: 16rpx;
	background-color: #FFE461 ;
	right: 0;
	left: 0;
	top: 12rpx;
	z-index: -1;
}
.price{
	width: 170rpx;
	height: 48rpx;
	margin-top: 88rpx;
	font-size: 26rpx;
	color: #FF6868;
	line-height: 26rpx;
	background-color: #FFEEEE;
	line-height: 48rpx;
	border-radius: 8rpx;
	text-align: center;
}
.more{
	width: 440rpx;
	height: 72rpx;
	padding: 102rpx 0 76rpx 0;
}
.more image{
	width: 100%;
	height: 100%;
}
.community:last-child{
	border-bottom: none;
}