page{
    height:100%;
    font-family: 'PingFangSC';
}
.g-inside-sale{
    width:100%;
    height:100%;
    background: #B3CEF5;
}
.u-header{
    width:100%;
    height:402rpx;
    position: relative;
}
.u-header-bg{
    width:100%;
    height:402rpx;
}
.u-header-txt{
    position: absolute;
    font-size: 24rpx;
    color: #C29929;
    width:96rpx;
    height:34rpx;
    bottom:116rpx;
    right:52rpx;
    text-decoration: underline;
}