page{
    height:100%;
    font-family: 'PingFangSC';
}
.g-inside-sale{
    width:100%;
    height:100%;
    background: #B3CEF5;
}
.u-header{
    width:100%;
    height:402rpx;
    position: relative;
    margin-bottom:50rpx;
}
.u-header-bg{
    width:100%;
    height:402rpx;
}
.u-header-txt{
    position: absolute;
    font-size: 24rpx;
    color: #C29929;
    width:96rpx;
    height:34rpx;
    bottom:116rpx;
    right:52rpx;
    text-decoration: underline;
}
.m-sale-content{
  width:100%;
  min-height:218rpx;
  display: inline-block;
  padding:0 48rpx;
  box-sizing: border-box;

}
.u-sale-list{
    width:100%;
    height:218rpx;
    border-radius: 16rpx;
    margin-bottom:32rpx;
    position: relative;
    
}
.u-sale-bg{
    width:100%;
    height:218rpx;
    border-radius: 16rpx;
}
.u-sale-info{
   width:470rpx;
   height:100%;
   position: absolute;
   left:0;
   top:0;
}
.u-border{
    border-right: 1px dashed #EABD71;
}
.u-expired-border{
    border-right: 1px dashed #FFFFFF;;
}
.u-sale-status{
   width:180rpx;
   height:100%;
   position: absolute;
   right:0;
   top:0;
}
.u-sale-get-btn{
    width:100rpx;
    height:100rpx;
    border-radius: 100% 100%;
    margin:60rpx auto;
    font-size: 28rpx;
    text-align: center;
}
.u-get-sale{
    background: #EABD71;
    color: #624D17;
    padding-top:20rpx;
    box-sizing: border-box;
   
}
.u-get-sale .u-sale-txt{
    line-height: 32rpx;
}
.u-no-get-sale{
    background: #6D5C40;
    color: #A88D42;
    line-height: 100rpx;
}
.u-footer{
    width:100%;
    height:110rpx;
    position: fixed;
    bottom:0;
    display: flex;
}
