@import "../coupon/coupon.less";
/* tab */
.couponTab {
  position: relative;
  border-bottom: 1px #f3f3f3 solid;
  margin-bottom: 30rpx;
}
.couponTab .tab {
  color: #333333;
  display: inline-block;
  font-size: 30rpx;
  padding-bottom: 12rpx;
  text-align: center;
  width: 25%;
}
.couponTab .line {
  position: absolute;
  bottom: 0;
  height: 4rpx;
  transition:all .3s;
  width: 25%;
}
.couponTab .line text {
  position: absolute;
  bottom: 0;
  left: -20rpx;
  margin-left: 50%;
  background: #333333;
  border-radius: 8rpx;
  height: 4rpx;
  width: 40rpx;
}








/* usable btn */
.usable {
  position: fixed;
  bottom: 100rpx;
  left: 0;
  right: 0;
  z-index: 10;
  height: 100rpx;
  padding: 0 42rpx;
}
.usable-btn {
  background: #ECCA6F;
  border-radius: 200rpx;
  color: #624D17;
  font-size: 36rpx;
  height: 100rpx;
  line-height: 100rpx;
  margin: 0 auto;
  text-align: center;
  width: 400rpx;
}
.usable-btn-warp {
  overflow: hidden;
}
.usable-btn-warp view,
.usable-btn-warp button {
  background: #ECCA6F;
  border-radius: 200rpx;
  box-sizing: border-box;
  font-size: 36rpx;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  width: 320rpx;
}
.usable-btn-warp view.left {
  background: #FFFFFF;
  border: 1px solid #624D17;
  border-radius: 200rpx;
  float: left;
}
.usable-btn-warp button.right,
.usable-btn-warp view.right {
  float: right;
}

/* 领取人 */
.receive {
  position: absolute;
  left: 32rpx;
  bottom: -84rpx;
  height: 48rpx;
  border: 1px solid #DFDFDF;
  border-radius: 16rpx;
  display: inline-block;
  padding: 12rpx 20rpx;
}
.receive .tx {
  border: 1px solid #CBCBCB;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  height: 48rpx;
  margin-right: 12rpx;
  vertical-align: top;
  width: 48rpx;
}
.receive text {
  display: inline-block;
  font-size: 28rpx;
  color: #333333;
  letter-spacing: 0;
  height: 48rpx;
  line-height: 48rpx;
  vertical-align: top;
}
.receive .icon {
  position: absolute;
  top: -7rpx;
  left: 40rpx;
  height: 8rpx;
  width: 20rpx;
}

  /* 空提示 */
.my-meeting-list-none{
  background-color: #fff;
}
.content-none{
  text-align: center;
  background-color: #fff;
  padding-top:200rpx;
}
.none-img{
  width:348rpx;
  height: 318rpx;
  display: block;
  margin:auto;
  margin-bottom: 30rpx;
}
.warn{
  font-size: 30rpx;
  color:#666;
}