/**index.wxss**/
@import "../meetingTem/meetingTem.less";
.content-wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #393F50;
}
.wrapper{
  background: #393F50;
  position: relative;
}
.top-wrapper{
  padding: 20rpx 20rpx 0 20rpx;
}
.meeting-card{
  width: 704rpx;
  height: 396rpx;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  
}
.metting-wrapper{
  width:704rpx;
  height:396rpx;
  position: absolute;
  top: 20rpx;
  left: 20rpx;
  padding: 58rpx 20rpx 24rpx 18rpx;
  box-sizing: border-box;
}
.metting-wrapper .metting-mark{
	width: 100rpx;
	height: 44rpx;;
	color: #ffffff;
	font-size: 24rpx;
	text-align: center;
  line-height: 44rpx;
  position: absolute;
  left: 552rpx;
  top: 0;
  background-image: linear-gradient(44deg, #B1B3C9 0%, #7C7890 100%);
  border-bottom-left-radius: 10rpx;
  border-bottom-right-radius: 10rpx;
}
.meeting-card .title{
  display: flex;
  flex-direction: column;
  padding-bottom: 24rpx;
  border-bottom: 2rpx dashed #DFDFDF;
}
.meeting-card .metting-content{
  padding-top: 40rpx;
}
.meeting-card .title .metting-time{
  font-family: PingFangSC-Medium;
  font-size: 40rpx;
  color: #333333;
}
.meeting-card .title .metting-name{
  font-family: PingFangSC-Medium;
  font-size: 36rpx;
  color: #2A2A2A;
}
.meeting-card .metting-address{
  font-family: PingFangSC-Regular;
  font-size: 30rpx;
  color: #666666;
  letter-spacing: 0;
}
.meeting-card .metting-map text{
  font-family: PingFangSC-Regular;
  font-size: 26rpx;
  color: #9399A5;

}
.meeting-card .map-icon{
  width: 24rpx;
  height: 27rpx;
  vertical-align: middle;
  margin-right: 10rpx;
}
.pics{
  padding: 55rpx;
  border-bottom: 1px dotted #DFDFDF;
  color: #666666;
}
.pic image{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pics .er{
  width: 270rpx;
  height: 270rpx;
  background: red;
  margin: 50rpx auto 40rpx;
}
.bottom_text{
  padding: 40rpx 0;
}
.metting-house{
  font-size: 28rpx;
  color: #333333;
}
.bottom_text image{
  width: 28rpx;
  height: 30rpx;
  margin-right: 16rpx;
  vertical-align: middle;
}
.bottom_text .icons text{
  font-size: 26rpx;
 
}
.btn{
  width: 288rpx;
  height: 88rpx;
  background-image: linear-gradient(50deg, #F79C1C 0%, #FFD24C 89%);
  border-radius: 44rpx;
  color: #fff;
  line-height: 88rpx;
  text-align: center;
  margin: auto;
  position:fixed;
  bottom:50rpx;
  left: 50%;
  margin-left: -144rpx;
}
.clear{
  clear: both;
}

.u-dialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.u-dialog-content {
  width: 560rpx;
  background: #fff;
  border-radius: 16rpx;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -280rpx;
  margin-top: -240rpx;
  padding-top: 60rpx;
}
.u-dialog-title {
  font-size: 40rpx;
  color: #000000;
  text-align: center;
  height: 108rpx;
  line-height: 108rpx;
}
.u-dialog-container {
  padding: 0 48rpx;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
.u-dialog-p {
  padding-left: 24rpx;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  font-size: 32rpx;
  color: #333;
  line-height: 48rpx;
  margin-bottom: 30rpx;
  position: relative;
  font-weight: 400;
  text-align: center;
}
.u-dialog-style {
  position: absolute;
  width: 8rpx;
  height: 8rpx;
  border-radius: 100% 100%;
  background: #666666;
  left: 0;
  top: 18rpx;
}
.u-dialog-footer {
  height: 100rpx;
}
.u-dialog-btn {
  text-align: center;
  line-height: 100rpx;
  float: left;
  font-size: 34rpx;
  width: 50%;
}

.u-dialog-cancal {
  color: #000000;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.u-dialog-yes {
  color: #f5a623;
}

.password-dialog .u-dialog-content {
  padding-top: 20rpx;
}

.password-dialog .u-dialog-p {
  font-size: 38rpx;
  margin-top: 14rpx;
  color: #f5a623;
  padding-left: 0;
  margin-bottom: 20rpx;
}

.password-dialog .u-dialog-btn {
  width: 100%;
}

.password-dialog .u-dialog-cancal {
  color: #000000;
  box-sizing: border-box;
  border: 0;
}