<!-- 带价钱数量的日历 -->
<template name="seat">
	    <view class="date">
          	<view class="number-x">
                <image src='../images/date/zuo.png' class="number-index"></image>
                <text class="count">数量</text>
                <image src='../images/date/you.png' class="number-index"></image>
            </view>
            <view class="los" style="display:flex;  align-items: center;">
                <view class="week-index" bindtap='reduceNum'>
                    <image src="{{reduce_btn ? '../images/date/jian.png' : '../images/date/jia_a.png'}}" class="jia-img"></image>
                </view>
                <view class="week-index1">{{final_num}}</view>
                <view class="week-index" bindtap='addNum' style="{{zheng == false ? 'pointer-events:none;' :''}}">
                    <image src="{{add_btn  ? '../images/date/huang.png' : '../images/date/hui.png'}} "  class="jian-img {{number < Maximum?'huang':'hui'}}"></image>
                </view>
            </view>
          	<view class="number-x">
                <image src='../images/date/zuo.png' class="number-index"></image>
                <text class="count1">使用日期</text>
                <image src='../images/date/you.png' class="number-index"></image>
            </view>
	         <view class="week">
	            <text class="week-day">日</text>
	            <text class="week-day">一</text>
	            <text class="week-day">二</text>
	            <text class="week-day">三</text>
	            <text class="week-day">四</text>
	            <text class="week-day">五</text>
	            <text class="week-day">六</text>
	         </view>
          <scroll-view scroll-y class="fixed_a">
          	<view class="now-date">{{date_now.value}}</view>
          	<view  bindtap="dateBtn">
	          	<view wx:for="{{date_data1}}" wx:for-item="i"  wx:key='{{index}}' data-alldata='{{i}}' data-data='date_data1' class='{{i.type}} day {{i.seat?"seat-date":""}}'>
	            	{{i.value}}
	            	<view class="price" data-alldata='{{i}}' data-data='date_data1' wx:if="{{i.seat}}">{{i.price_vlue=='数量不足'?i.price_vlue:'¥'+i.price_vlue}}</view>
          		</view> 
          	</view>
          	<view class="now-date">{{date_next.value}}</view>
          	<view  bindtap="dateBtn">
            	<view  wx:for="{{date_data2}}" wx:for-item="i" wx:key='{{index}}' data-alldata='{{i}}' data-data='date_data2' class='{{i.type}} day {{i.seat?"seat-date":""}}' wx:key='{{index}}'>
              		{{i.value}}
              		<view wx:if="{{i.seat}}"  data-alldata='{{i}}' data-data='date_data2' class="price">{{i.price_vlue=='数量不足'? i.price_vlue:'¥'+i.price_vlue}}
                  </view>
            	</view>

          	</view>
            <view style="height:132rpx;display: block;width:100%;background:#fff">
            </view>
          </scroll-view>
      
      
    	</view>
</template>
<!-- 单纯的日历 -->
<template name="date">
    <view class="wrapper">
	    <view class="date" catchtap="stopPropagation">
	          <view class="select-data">请选择会议日期</view>
  
	         <view class="week">
	            <text class="week-day">日</text>
	            <text class="week-day">一</text>
	            <text class="week-day">二</text>
	            <text class="week-day">三</text>
	            <text class="week-day">四</text>
	            <text class="week-day">五</text>
	            <text class="week-day">六</text>
	         </view>
          	<view class="now-date">{{date_now.value}}</view>
          	<view  bindtap="dateBtn">
	          	<view wx:for="{{date_data1}}" wx:for-item="i"  wx:key='{{index}}' data-alldata='{{i}}' data-data='date_data1' class='{{i.type}} day '>
	            	{{i.value}}
          		</view> 
          	</view>
          	<view class="now-date">{{date_next.value}}</view>
          	<view  bindtap="dateBtn">
            	<view  wx:for="{{date_data2}}" wx:for-item="i" wx:key='{{index}}' data-alldata='{{i}}' data-data='date_data2' class='{{i.type}} day ' wx:key='{{index}}'>
              		{{i.value}}
            	</view>

          	</view>
	    </view>
  	</view>
</template>
<!-- 选择团队卡的模板 -->
<template name="teamCard">
  <view class="my-card-list">
    <image class="checked-logo" wx:if="{{item.checked}}" src="{{imgUrl}}teamCardBg/checked.png" mode="scaleToFill"></image>
    <image class="team-card-bg" src="{{item.goodsUrl}}"></image>
    <view class="card-content" bindtap="selectTab" data-content="{{item}}" data-index="{{index}}" >
      <view class="card-first-content">
        <view class="card-name">{{item.cardName}}</view>
        <view class="card-num">NO.{{item.cardNo}}</view>
      </view>
      <view class="card-second-content">
        <view class="card-text">余额</view>
        <view class="card-over">{{item.remainAmountDecimal}}</view>
        <view class="card-unit">元</view>
      </view>
      <view class="card-third-content">
         <view class="card-range">使用期限：{{item.bt[0]+'.'+item.bt[1]+'.'+item.bt[2]}} - {{item.et[0]+'.'+item.et[1]+'.'+item.et[2]}}</view>
      </view>
    </view>
  </view>
</template>
<!-- 助力活动的数字动画 -->
<template name="numAnimate">
  <view class="box-cantainer "> 
  <!-- <view class="num-box"></view> -->
    <view class="box-list num-1" wx:for="{{numArr}}" wx:for-item="i"  wx:key='{{index}}' style="left:{{index*98}}rpx;top:-{{i.top}}rpx" > 
        <image class="num-img" src="{{KrImgUrl}}number/0.png" wx:if="{{i.label==0}}"></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png" wx:if="{{i.label==0}}"></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png" wx:if="{{i.label==0}}"></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png" wx:if="{{i.label==0}}"></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png" wx:if="{{i.label==0}}"></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png" wx:if="{{i.label==0}}"></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png" wx:if="{{i.label==0}}"></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png" wx:if="{{i.label==0}}"></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png" wx:if="{{i.label==0}}"></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png" wx:if="{{i.label==0}}"></image> 
      <image class="num-img" src="{{KrImgUrl}}number/0.png" wx:if="{{i.label>=0}}"></image>
      <image class="num-img" src="{{KrImgUrl}}number/1.png" wx:if="{{i.label>=1}}"></image>
      <image class="num-img" src="{{KrImgUrl}}number/2.png" wx:if="{{i.label>=2}}"></image>
      <image class="num-img" src="{{KrImgUrl}}number/3.png" wx:if="{{i.label>=3}}"></image>
      <image class="num-img" src="{{KrImgUrl}}number/4.png" wx:if="{{i.label>=4}}"></image>
      <image class="num-img" src="{{KrImgUrl}}number/5.png" wx:if="{{i.label>=5}}"></image>
      <image class="num-img" src="{{KrImgUrl}}number/6.png" wx:if="{{i.label>=6}}"></image>
      <image class="num-img" src="{{KrImgUrl}}number/7.png" wx:if="{{i.label>=7}}"></image>
      <image class="num-img" src="{{KrImgUrl}}number/8.png" wx:if="{{i.label>=8}}"></image>
      <image class="num-img" src="{{KrImgUrl}}number/9.png" wx:if="{{i.label>=9}}"></image> 
    </view>
  </view>
</template>


<template name='setNumber'>
   <view class="box-cantainer"> 
    <view class="box-lists">
      <view class="one" animation='{{animationDataOne}}'>
        <image class="num-img" src="{{KrImgUrl}}number/0.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png" ></image> 
        <image class="num-img" src="{{KrImgUrl}}number/0.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png"></image> 
      </view>
    </view>
    <view class="box-lists">
      <view class="one" animation='{{animationDataTwo}}'>
        <image class="num-img" src="{{KrImgUrl}}number/0.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png" ></image> 
        <image class="num-img" src="{{KrImgUrl}}number/0.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png"></image> 
      </view>
    </view>
    <view class="box-lists">
      <view class="one" animation='{{animationDataThree}}'>
        <image class="num-img" src="{{KrImgUrl}}number/0.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png" ></image> 
        <image class="num-img" src="{{KrImgUrl}}number/0.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png"></image> 
      </view>
    </view>
</view>
</template>
<template name="number">
  <view class="box-cantainer"> 
    <view class="box-lists">
      <view class="one" animation='{{animationDataOne}}'>
        <image class="num-img" src="{{KrImgUrl}}number/0.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png" ></image> 
      </view>
      <view class="two" animation='{{animationCloudData}}'>
        <image class="num-img" src="{{KrImgUrl}}number/0.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png"></image> 
      </view>
    </view>
    <view class="box-lists">
      <view class="one" animation='{{animationDataTwo}}'>
        <image class="num-img" src="{{KrImgUrl}}number/0.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png" ></image> 
      </view>
      <view class="two" animation='{{animationCloudData}}'>
        <image class="num-img" src="{{KrImgUrl}}number/0.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png"></image> 
      </view>
    </view>
  </view>
</template>


<template name="numsAnimate">
  <view class="box-cantainer"> 
    <view class="box-lists" wx:for="{{numArr}}" wx:for-item="i"  wx:key='{{index}}'>
      <view class="one" style="transform: translateY({{i.oneTop}}rpx)">
        <image class="num-img" src="{{KrImgUrl}}number/0.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png" ></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png" ></image> 
      </view>
      <view class="two" style="transform: translateY({{i.towTop}}rpx)">
        <image class="num-img" src="{{KrImgUrl}}number/0.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/1.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/2.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/3.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/4.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/5.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/6.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/7.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/8.png"></image>
        <image class="num-img" src="{{KrImgUrl}}number/9.png"></image> 
      </view>
    </view>
  </view>
</template>