@import "../meetingTem/meetingTem.less";
page {
  background: #ffffff;
}
.content-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #393f50;
}
.wrapper {
  padding-top: 20rpx;
  background: #393f50;
  position: relative;
}

.footer {
  width: 100%;
  height: 110rpx;
  background: #ffffff;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact {
  width: 166rpx;
  height: 72rpx;
  font-family: PingFangSC-Regular;
  color: #333333;
  text-align: center;
  background: #ffffff;
  border: 1px solid #333333;
  border-radius: 16rpx;
  margin-right: 18rpx;
}
#share {
  width: 250rpx;
  height: 72rpx;
  background: #ffffff;
  border: 1px solid #ff6868;
  border-radius: 16rpx;
  font-family: PingFangSC-Regular;
  color: #ff6868;
  text-align: center;
  margin-right: 38rpx;
}
.reserve-again {
  width: 166rpx;
  height: 72rpx;
  background-image: linear-gradient(-217deg, #ffdf00 0%, #ffeb00 100%);
  border-radius: 16rpx;
  font-family: PingFangSC-Regular;
  color: #624d17;
  text-align: center;
  margin-right: 32rpx;
}
.invitee {
  justify-content: space-between;
}
.cancel-seat {
  width: 150rpx;
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 28rpx;
  color: #333333;
  margin-left: 32rpx;
}
.invitee-btn {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.clear {
  clear: both;
}
button {
  font-size: 28rpx;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  display: inline-block;
  background-color: transparent;
  border-style: none;
  border-width: 0px;
}
.reserve-again {
  border: 1px solid transparent;
}
.reserve-again:after {
  border: none;
  outline: none;
}

.top {
  width: 710rpx;
  height: 720rpx;
  padding: 0 20rpx;
}
.top-banner {
  width: 100%;
  height: 720rpx;
  position: relative;
}
.img {
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  height: 720rpx;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.top .overdue {
  display: block;
  width: 210rpx;
  height: 200rpx;
  position: absolute;
  top: 0;
  right: 0;
}

.qr-detail-dialog .overdue {
  display: block;
  width: 210rpx;
  height: 200rpx;
  position: absolute;
  bottom: 0;
  right: 0;
}

.top .title text {
  display: block;
}
.top .title .meetingTime {
  height: 32rpx;
  line-height: 32rpx;
  font-size: 40rpx;
  font-family: PingFangSC-Medium;
  font-size: 40rpx;
  color: #333333;
  letter-spacing: 0;
  text-align: center;
  margin-top: 30rpx;
  margin-bottom: 28rpx;
}
.top .title .themeName {
  color: #666666;
  font-size: 36rpx;
  font-family: PingFangSC-Medium;
  letter-spacing: 0;
  text-align: center;
}
.pics {
  width: 710rpx;
  height: 640rpx;
  position: relative;
  box-sizing: border-box;
  opacity: 0.6;
}

.pics .img-box {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 26rpx;
  left: 26rpx;
}

.over-date {
  opacity: 0.4;
}
.pics .code-desc {
  font-size: 28rpx;
  color: #666666;
  font-family: PingFangSC-Regular;
  margin-top: 200px;
  letter-spacing: 0;
  text-align: center;
}
.bottom_text {
  width: 550rpx;
  height: 30rpx;
  position: absolute;
  left: 50%;
  margin-left: -300rpx;
  bottom: 94rpx;
}
.bottom_text image {
  width: 12px;
  height: 14px;
  margin-right: 0rpx;
  vertical-align: top;
  margin-top: 4rpx;
}
.bottom_text .icons {
  font-family: PingFangSC-Regular;
  font-size: 26rpx;
  color: #666666;
  margin-top: 6rpx;
}

.conferee {
  margin-top: 40rpx;
  border-top: 1px solid #2f3543;
  border-bottom: 1px solid #2f3543;
  position: relative;
  padding: 0 20rpx;
}
.conferee-title {
  display: block;
  font-size: 32rpx;
  color: #fff;
  font-weight: 600;
  padding-top: 40rpx;
  padding-bottom: 40rpx;
}
.hint_title {
  display: block;
  font-size: 32rpx;
  margin-top: 40rpx;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: justify;
}
.kr-hint-title {
  display: block;
  font-size: 34rpx;
  margin-top: 40rpx;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: justify;
}
.kr-hint-content {
  font-size: 26rpx;
}
.kr-hint-attention {
  margin-top: 20rpx;
}
.kr-hint-bottom {
  display: block;
  font-size: 34rpx;
  margin-top: 40rpx;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: justify;
}
.conferee .list {
  float: left;
  margin: 0 22rpx 40rpx;
  text-align: center;
  position: relative;
}
.conferee .list .pic {
  width: 86rpx;
  height: 86rpx;
  border-radius: 50%;
  border-width: thin;
  border-style: solid;
  border-color: #f6f6f6;
  margin-bottom: 20rpx;
}
.pic image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.conferee .list text {
  display: inline-block;
  width: 86rpx;
  font-size: 24rpx;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.conferee .list .originator {
  width: 32rpx;
  height: 30rpx;
  position: absolute;
  top: 70rpx;
  left: -4rpx;
}
.conferee .list .confirm {
  width: 32rpx;
  height: 30rpx;
  position: absolute;
  top: 70rpx;
  left: 60rpx;
}

.hint {
  padding: 0 20rpx 252rpx 20rpx;
}

.hint text {
  color: #fff;
  display: block;
}
.hint .list {
  padding-bottom: 40rpx;
  margin-top: 40rpx;
  border-bottom: 2rpx dotted #2f3543;
}
.hint .list:last-child {
  border-bottom: none;
}
.hint .title {
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: justify;
}
.text {
  font-size: 26rpx;
  color: #d5d8df;
}

.qr-detail-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.70);
  z-index: 1000;
}

.qr-detail-dialog .content-box {
  position: absolute;
  top: 150rpx;
  left: 96rpx;
  width: 574rpx;
  height: 632rpx;
  background: #FFFFFF;
  border-radius: 16px;
}

.close-button {
  width: 44rpx;
  height: 90rpx;
  position: absolute;
  top: -88rpx;
  right: 40rpx;
}

.mycanvas {
  display: block;
  position: absolute;
  margin: 8px;
  padding: 0;
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
}

.code-pic {
  position: relative;
  width: 352rpx;
  margin: 104rpx auto 0;
}

.code-pic > image {
  width: 352rpx;
  height: 352rpx;
}

.qr-text {
  text-align: center;
  height: 32rpx;
  line-height: 32rpx;
  margin-top: 40rpx;
  font-size: 28rpx;
  color: #666666;
}

.features {
  text-align: left;
}

.scan, .qrcode  {
  display: inline-block;
  width: 180rpx;
  text-align: center;
  padding: 100rpx 0;
}

.scan {
  margin: 0 96rpx 0 126rpx;
}

.scan > image, .qrcode > image {
  width: 96rpx;
  height: 96rpx;
  display: block;
  margin: 0 auto 34rpx;
}

.scan > text, .qrcode > text {
  display: block;
  height: 34rpx;
  line-height: 34rpx;
  color: #666666;
  font-size: 28rpx;
}

.scan > text.grey {
  color: #999;
}

.u-dialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.u-dialog-content {
  width: 560rpx;
  background: #fff;
  border-radius: 16rpx;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -280rpx;
  margin-top: -240rpx;
  padding-top: 60rpx;
}
.u-dialog-title {
  font-size: 40rpx;
  color: #000000;
  text-align: center;
  height: 108rpx;
  line-height: 108rpx;
}
.u-dialog-container {
  padding: 0 48rpx;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
.u-dialog-p {
  padding-left: 24rpx;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  font-size: 32rpx;
  color: #333;
  line-height: 48rpx;
  margin-bottom: 30rpx;
  position: relative;
  font-weight: 400;
  text-align: center;
}
.u-dialog-style {
  position: absolute;
  width: 8rpx;
  height: 8rpx;
  border-radius: 100% 100%;
  background: #666666;
  left: 0;
  top: 18rpx;
}
.u-dialog-footer {
  height: 100rpx;
}
.u-dialog-btn {
  text-align: center;
  line-height: 100rpx;
  float: left;
  font-size: 34rpx;
  width: 50%;
}

.u-dialog-cancal {
  color: #000000;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.u-dialog-yes {
  color: #f5a623;
}

.password-dialog .u-dialog-content {
  padding-top: 20rpx;
}

.password-dialog .u-dialog-p {
  font-size: 38rpx;
  margin-top: 14rpx;
  color: #f5a623;
  padding-left: 0;
  margin-bottom: 20rpx;
}

.password-dialog .u-dialog-btn {
  width: 100%;
}

.password-dialog .u-dialog-cancal {
  color: #000000;
  box-sizing: border-box;
  border: 0;
}
