page {
  width: 100%;
  height: 100%;
}
.invitation-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.ivt-banner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}
.ivt-card {
  width: 93%;
  height: 100%;
  position: fixed;
  left: 26rpx;
  top: 22rpx;
  z-index: 3;
}
.ivt-fix {
  width: 100%;
  position: fixed;
  z-index: 5;
  bottom: 0;
}
.ivt-body {
  width: 87%;
  position: absolute;
  left: 52rpx;
  top: 52rpx;
  z-index: 4;
  background: #393f50;
  color: #ffffff;
  font-family: PingFangSC-Medium;
  box-sizing: border-box;
  padding: 80rpx 40rpx 0 40rpx;
}
.ivt-user-info {
  width: 100%;
  height: 120rpx;
  display: flex;
  align-items: center;
  margin-bottom: 50rpx;
}
.ivt-user-info text {
  font-size: 36rpx;
}
.ivt-user-avatar {
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
  margin-right: 30rpx;
}
.ivt-user-name {
  font-size: 36rpx;
  margin-right: 15rpx;
}
.ivt-details {
  font-size: 44rpx;
}
.ivt-details text {
  font-size: 34rpx;
  color: #d5d8df;
  font-weight: normal;
}
.hint {
  margin-top: 100rpx;
  margin-bottom: 400rpx;
}

.hint text {
  color: #fff;
  display: block;
}
.hint .list {
  padding-bottom: 40rpx;
  margin-top: 40rpx;
  border-bottom: 2rpx dotted #2f3543;
}
.hint .list:last-child {
  border-bottom: none;
}
.hint .title {
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: justify;
}
.hint .text {
  padding-top: 20rpx;
  font-size: 26rpx;
  color: #d5d8df;
}
.accept-invitation {
  display: inline-block;
  background-image: linear-gradient(46deg, #ffeb00 0%, #ffdf00 100%);
  position: fixed;
  bottom: 11%;
  left: 124rpx;
  right: 124rpx;
  z-index: 9999;
  box-shadow: 0 4rpx 20rpx 0 #f79c1c;
}
