page {
  width: 100%;
  height: 100%;
}
.invitation-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.ivt-banner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}
.ivt-card {
  width: 93%;
  height: 100%;
  position: fixed;
  left: 26rpx;
  top: 22rpx;
  z-index: 3;
}
.ivt-fix {
  width: 100%;
  position: fixed;
  z-index: 5;
  bottom: 0;
}
.ivt-body {
  width: 86.8%;
  position: absolute;
  left: 50rpx;
  top: 52rpx;
  z-index: 4;
  background: #3d4150;
  color: #ffffff;
  font-family: PingFangSC-Medium;
  box-sizing: border-box;
  padding: 80rpx 40rpx 0 40rpx;
}
.ivt-user-info {
  width: 100%;
  height: 120rpx;
  display: flex;
  align-items: center;
  margin-bottom: 50rpx;
}
.ivt-user-info text {
  font-size: 36rpx;
}
.ivt-user-avatar {
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
  margin-right: 30rpx;
  background: #999;
}
.ivt-user-name {
  font-size: 36rpx;
  margin-right: 15rpx;
}
.ivt-details {
  font-size: 44rpx;
}
.ivt-details text {
  font-size: 34rpx;
  color: #d5d8df;
  font-weight: normal;
}
.hint {
  padding: 0 20rpx 330rpx 20rpx;
}
.hint_title {
  display: block;
  font-size: 32rpx;
  margin-top: 40rpx;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: justify;
}
.hint .list {
  padding-bottom: 40rpx;
  margin-top: 40rpx;
  border-bottom: 2rpx dotted #2f3543;
}
.hint .list:last-child {
  border-bottom: none;
}
.hint .title {
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: justify;
}
.hint .text {
  padding-top: 20rpx;
  font-size: 26rpx;
  color: #d5d8df;
}

.hint text {
  color: #fff;
  display: block;
}
.kr-hint-title {
  display: block;
  font-size: 34rpx;
  margin-top: 40rpx;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: justify;
}
.kr-hint-content {
  font-size: 26rpx;
}
.kr-hint-attention {
  margin-top: 20rpx;
}
.kr-hint-bottom {
  display: block;
  font-size: 34rpx;
  margin-top: 40rpx;
  font-family: PingFangSC-Medium;
  color: #ffffff;
  text-align: justify;
}

.accept-invitation {
  display: inline-block;
  background-image: linear-gradient(46deg, #ffeb00 0%, #ffdf00 100%);
  position: fixed;
  bottom: 11%;
  left: 124rpx;
  right: 124rpx;
  z-index: 9999;
  box-shadow: 0 6rpx 16rpx 0 #d6b285;
}
button:after {
  border: none;
  outline: none;
}

.u-dialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.u-dialog-content {
  width: 560rpx;
  background: #fff;
  border-radius: 16rpx;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -280rpx;
  margin-top: -240rpx;
  padding-top: 60rpx;
}
.u-dialog-title {
  font-size: 40rpx;
  color: #000000;
  text-align: center;
  height: 108rpx;
  line-height: 108rpx;
}
.u-dialog-container {
  padding: 0 48rpx;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
.u-dialog-p {
  padding-left: 24rpx;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  font-size: 32rpx;
  color: #333;
  line-height: 48rpx;
  margin-bottom: 30rpx;
  position: relative;
  font-weight: 400;
  text-align: center;
}
.u-dialog-style {
  position: absolute;
  width: 8rpx;
  height: 8rpx;
  border-radius: 100% 100%;
  background: #666666;
  left: 0;
  top: 18rpx;
}
.u-dialog-footer {
  height: 100rpx;
}
.u-dialog-btn {
  text-align: center;
  line-height: 100rpx;
  float: left;
  font-size: 34rpx;
  width: 50%;
}

.u-dialog-cancal {
  color: #000000;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.u-dialog-yes {
  color: #f5a623;
}

.password-dialog .u-dialog-content {
  padding-top: 20rpx;
}

.password-dialog .u-dialog-p {
  font-size: 38rpx;
  margin-top: 14rpx;
  color: #f5a623;
  padding-left: 0;
  margin-bottom: 20rpx;
}

.password-dialog .u-dialog-btn {
  width: 100%;
}

.password-dialog .u-dialog-cancal {
  color: #000000;
  box-sizing: border-box;
  border: 0;
}

